<html> 
<body> 
    <h3>Iris Flowers Classification</h3> 
  
<div> 
  <form action="/result" method="POST"> 
    <label for="Sepal Length">Sepal Length</label> 
    <input type="text" id="Sepal Length" name="Sepal Length"> 
    <br>

    <label for="Sepal Width">Sepal Width</label> 
    <input type="text" id="Sepal Width" name="Sepal Width"> 
    <br> 
    
    <label for="Petal Length">Petal Length</label> 
    <input type="text" id="Petal Length" name="Petal Length"> 
    <br>

    <label for="Petal Width">Petal Width</label> 
    <input type="text" id="Petal Width" name="Petal Width"> 
    <br>

    <input type="submit" value="Submit"> 
  </form> 
</div> 
</body> 
</html>